.top {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: fixed;
    bottom: 120px;
    right: 80px;
    z-index: 1000;
    filter: drop-shadow(3px 6px 4px rgba(0, 0, 0, 0.4));
}

.top img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.herro {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://www.picturecorrect.com/wp-content/uploads/2019/04/photography-inspiration.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
    width: 100%;
    padding: 0 40px 0 40px;
}

.herro .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80%;
}

.herro .content h1 {
    margin-top: 70px;
    font-size: 2.3em;
    color: #fff;
    margin-bottom: -20px;
}

.herro .content h1:hover {
    opacity: 0.5;
}

.herro .find {
    width: 60%;
    max-width: 840px;
    padding: 0 20px;
    margin: 20px 0px;
    height: 55px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 1.2em;
}


.herro .content p {
    color: #fff;
}

.herro .content p a {
    color: #fff;
    text-decoration: none;
}

.herro .content p a:hover {
    color: rgb(1, 40, 72);
}

navbar {
    display: flex;
    justify-content: Center;
    align-items: center;
    border-bottom: 2px solid rgb(1, 40, 72);
    padding: 0 20px 0 20px;
    text-align: center;
}

navbar ul {
    display: flex;
}

navbar ul li {
    list-style: none;
    margin: 20px 20px;
    font-size: 1.2em;
    cursor: pointer;
}

navbar ul li:hover {
    color: rgb(1, 40, 72);
}

navbar .active {
    border-bottom: 2px solid rgb(1, 40, 72);
}

.prev,
.next {
    position: fixed;
    top: 0;
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    z-index: 999;
    color: rgba(255, 255, 255, 0.5);
    font-size: 8rem;
    font-family: monospace;
    transition: all 0.2s;
}

.prev:hover,
.next:hover {
    color: rgba(255, 255, 255, 0.8);
}

.prev {
    left: -25%;
}

.next {
    right: -25%;
}

.active .prev {
    left: 0;
}

.active .next {
    right: 0;
}

h1 {
    margin-top: 20px;
    padding: 20px;
    color: #5d5d5d;
    font-size: 2.4em;
}

.container {
    margin: 1vh auto;
    max-width: 90%;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: rep eat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 250px;
    grid-auto-flow: dense;
}

.container div {
    text-align: center;
    padding: 10px;
    color: white;
    font-size: 3rem;
    text-transform: uppercase;
    overflow: hidden;
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.container div img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
    transition: all 0.5s;
}

.container div.show::before {
    display: block;
    position: fixed;
    z-index: 555;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
}

.container div.show img {
    position: fixed;
    top: 0;
    left: 0;
    margin: 30px;
    align-self: center;
    object-fit: contain;
    z-index: 666;
    width: calc(100% - 60px);
    height: calc(100% - 60px);
    filter: drop-shadow(0 3px 15px black);
}

.container div:not(.show):hover img {
    cursor: pointer;
    transform: scale(1.1);
}

.horizontal {
    grid-column: span 2;
}

.vertical {
    grid-row: span 2;
}

.big {
    grid-column: span 2;
    grid-row: span 2;
}

.active .container div:not(.show) img {
    filter: blur(3px);
}

.explore {
    width: 60%;
    background: rgb(1, 40, 72);
    height: 50px;
    font-size: 1.2em !important;
    text-align: center;
    position: relative;
    left: 400px;
    top: 20px;
    border-radius: 10px;
    transition: 0.4s;
}

.explore:hover {
    opacity: 0.7;
    transform: scale(1.2);
}