 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     text-align: center;
     scroll-behavior: smooth;
 }
 
 .top {
     width: 20px;
     height: 20px;
     border-radius: 50%;
     position: fixed;
     bottom: 120px;
     right: 80px;
     z-index: 1000;
     filter: drop-shadow(3px 6px 4px rgba(0, 0, 0, 0.4));
 }
 
 .top img {
     width: 70px;
     height: 70px;
     border-radius: 50%;
 }
 
 .hero {
     /* background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://i.postimg.cc/FRY8f6KQ/pexels-andrea-piacquadio-3776169.jpg); */
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     height: 16vh;
     width: 100%;
     padding: 0 30px 0 30px;
     z-index: 1000;
     position: fixed;
 }
 
 .hero-scroll {
    background-color: rgb(1, 40, 72);

}
 
 .hero nav {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding-top: 15px;
 }
 
 .hero nav .logo {
     width: 120px;
 } 

  .hero nav ul {
     flex: 1;
     text-align: right;
     cursor: pointer; 
    }
 
  .hero nav ul li {
     display: inline-block;
     margin: 13px;
     color: #fff;
     font-size: 1.2em;
 } 
 
  .hero nav ul li:hover {
     opacity: 0.5;
 } 
 
 .hero .upload {
     text-decoration: none;
     color: #fff;
     background: #878686;
     padding: 5px 10px;
     border-radius: 4px;
     transition: 0.5s;
     transform: translateY(-10px);

 }
 
 .hero .upload:hover {
     opacity: 0.7;
 }
 
 /* .hero .content {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     height: 80%;
 } */
 
 /* .hero .content h1 {
     font-size: 2.3em;
     color: #fff;
     margin-bottom: -20px;
 } */
 
 /* .hero .content h1:hover {
     opacity: 0.5;
 } */
 
 .hero .find {
     width: 60%;
     max-width: 840px;
     padding: 0 20px;
     margin: 20px 0px;
     height: 55px;
     border-radius: 5px;
     border: none;
     outline: none;
     font-size: 1em;
 }
 
 .hero ::placeholder {
     font-weight: 500;
     font-size: 16px;
 }
 
 .hero .content p {
     color: #fff;
 }
 
 .hero .content p a {
     color: #fff;
     text-decoration: none;
 }