#hero {
    /* background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://i.postimg.cc/FRY8f6KQ/pexels-andrea-piacquadio-3776169.jpg); */
    /* background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 16vh;
    width: 100%;
    padding: 0 30px 0 30px; */
    /* z-index: 1000; */
    position: fixed;
}
.hero-scroll {
   background-color: rgb(255, 255, 255);
}